<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post">
    <label>
      <center>
        name<input type="text" name="name"/><br/>
        python marks<input type="number" name="marks"/><br/>
        java marks<input type="number" name="python"/><br/>
        html marks<input type="number" name="java"/><br/>
        <button>submit</button>
      </center>
      
    </label>
  </form>
</body>
</html>