<!DOCTYPE html>
<html>

<head>
  <title>USA Economy</title>
</head>

<body>

  <hr />
  <CENTER>
    <h1><i>The Fall <span>of an</span></i> <b>Economy</b></h1>
  </CENTER>
  <hr />
  <CENTER><input type="password" placeholder="passcode" /><small> </small><button>applicable</button><br />
    <hr /><input type="radio" placeholder="if not important" /><small>if not important </small><button>not
      applicable</button>
  </CENTER>
  <hr />
  <CENTER>
    <marquee>
      <h3><b>Alert </b>:<i> this might be threatening</i></h3>
    </marquee>
    <hr />
    <table border="3px" ; cellspacing="1.5px">
      <tr>
        <th><b> QUARTERLY </b></th>
        <th><b>MOODY'S</b></th>
        <th><b>GOLDMAN SACHS</b></th>
        <th>BLACK STONE</th>
      </tr>
      <tr>
        <td><i>1st quarter 2022</i></td>
        <td><audio controls>
            <source src="./sample-3s.mp3" />
          </audio></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><i>2nd quarter 2022</i></td>
        <td></td>
        <td></td>
        <td><audio controls>
            <source src="./sample-3s.mp3" />
          </audio></td>
      </tr>
      <tr>
        <td><i>3rd quarter 2022</i></td>
        <td></td>
        <td><audio controls>
            <source src="./sample-3s.mp3" />
          </audio></td>
        <td></td>
      </tr>
      <tr>
        <td><i>4th quarter 2022</i></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><i>1st quarter 2023</i></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><i>2nd quarter 2023</i></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><i>3rd quarter 2023</i></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><i>4th quarter 2023</i></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><i>1st quarter 2024</i></td>
        <td><audio controls>
            <source src="./sample-3s.mp3" />
          </audio></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><i>2nd quarter 2024</i></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><i>3rd quarter 2024</i></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><i>4th quarter 2024</i></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <hr />
  </CENTER>
  
    <h2><a href="https://www.moodys.com/" target="_blank">MOODY'S PREDICTION</a></h2><br />
    <center>
    <ul>
      <li><i>hurting</i></li>
      <li><i>leads to a recession</i></li>
      <li><i>uncompramisable</i></li>
      <li><i>dwindeling</i></li>
      <li><i>stagnating</i></li>
      <li><i>will be a lesson</i></li>
    </ul><br />
  </center>
    <ol type="A"><del>
        <li><i>hurting</i></li>
        <li><i>leads to a recession</i></li>
        <li><i>uncompramisable</i></li>
        <li><i>dwindeling</i></li>
        <li><i>stagnating</i></li>
        <li><i>will be a lesson</i></li>
      </del></ol><br />
    <hr />
    <h2><a href="https://www.moodys.com/" target="_parent">GOLDMAN SACKS PREDICTION</a></h2><br />
    
    <ul style="list-style-type:circle">
      <li><i>hurting</i></li>
      <li><i>leads to a recession</i></li>
      <li><i>uncompramisable</i></li>
      <li><i>dwindeling</i></li>
      <li><i>stagnating</i></li>
      <li><i>will be a lesson</i></li>
    </ul>
    <br />
    <ol type="i"><del>
        <li><i>hurting</i></li>
        <li><i>leads to a recession</i></li>
        <li><i>uncompramisable</i></li>
        <li><i>dwindeling</i></li>
        <li><i>stagnating</i></li>
        <li><i>will be a lesson</i></li>
      </del></ol><br />
    <hr />
    <h2><a href="https://www.moodys.com/" target="_self">BLACKSTONE PREDICTION</a></h2><br />
    <ul style="list-style-type:square">
      <li><i>hurting</i></li>
      <li><i>leads to a recession</i></li>
      <li><i>uncompramisable</i></li>
      <li><i>dwindeling</i></li>
      <li><i>stagnating</i></li>
      <li><i>will be a lesson</i></li>
    </ul><br />
    <ol type="I"><del>
        <li><i>hurting</i></li>
        <li><i>leads to a recession</i></li>
        <li><i>uncompramisable</i></li>
        <li><i>dwindeling</i></li>
        <li><i>stagnating</i></li>
        <li><i>will be a lesson</i></li>
      </del></ol><br />
    <hr />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/N65RvNkZFGE?si=pOMTE_U3780MB6qk"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <hr />
  
  <pre align="justify">
      <h4>GoodData was founded in 2007 by Czech entrepreneur Roman Stanek. Stanek had previously founded and<br/> served as CEO at NetBeans, which was acquired by Sun Microsystems in 1999, as well as<br/> Systinet Corporation,[2] which was acquired by Hewlett Packard in 2006.[3]

        The company was founded in April 2007 as "Good Data Corporation" in Cambridge,<br/> Massachusetts.[4] It received investment in July 2008 from Tim O'Reilly, Esther Dyson, and<br/> private equity firm Windcrest Partners for a total sum of $2 million.[5]<hr/>
        
        In 2009, the company received funding from Andreessen Horowitz, O'Reilly AlphaTech Ventures,<br/> General Catalyst Partners, and Windcrest Partners across two rounds totaling $5 million. Funding <br/>continued with in 2010, 2011, 2012, and in late 2012, bringing its capital raised to $53.5 million.<br/>[6] The company announced $22 million in funding led by TOTVS Ventures in 2013.[7]
        
        In 2014, GoodData said it provided software to 30,000 companies.[8]</h4><hr/>

    </pre>
  <p>The Government of India is responsible for ensuring the defence of India and every part thereof. The Supreme
    Command of the Armed Forces vests in the President. The responsibility for national defence rests with the Cabinet.

    This is discharged through the Ministry of Defence, which provides the policy framework and wherewithal to the Armed
    Forces to discharge their responsibilities in the context of the defence of the country. The Raksha Mantri (Defence
    Minister) is the head of the Ministry of Defence.</p>
  <hr />
  <small>The Government of India is responsible for ensuring the defence of India and every part thereof. The Supreme
    Command of the Armed Forces vests in the President. The responsibility for national defence rests with the Cabinet.

    This is discharged through the Ministry of Defence, which provides the policy framework and wherewithal to the Armed
    Forces to discharge their responsibilities in the context of the defence of the country. The Raksha Mantri (Defence
    Minister) is the head of the Ministry of Defence.</small>
  <hr />
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Actor_Nandamuri_Balkrishna_presents_the_Golden_Peacock_award_to_Gurvinder_Singh_for_Anhey_Ghorhey_Da_Daan_%28cropped%29.jpg"
    ; alt="balayaa image" ; width="50%" ; height="50%" />
  <hr />
  <p align="left">A central and user-friendly data portal to access a wide range of WTO statistical indicators on
    international trade, tariffs, non-tariff measures and other indicators.

    Bulk download of trade data
    This facility allows users to download the main trade statistics datasets in their entirety in compressed csv (comma
    separated values) format

    WTO Stats Dashboard
    A data visualization tool that complements the WTO Stats Portal with graphical presentations of data on merchandise
    trade, trade in commercial services and market access.

    Tariff Download Facility
    Simpler, standardized tariff statistics, mainly for downloading

    Tariff Analysis Online
    Sophisticated detailed and interactive tariff analysis

    RTA database
    Regional trade agreements

    PTA database
    Preferential trade arrangements

    I-TIP database
    A single entry point for WTO information on trade policy measures covering both tariff and non-tariff measures
    affecting trade in goods as well as information on trade in services</p>
  <hr />
  <p align="right">A central and user-friendly data portal to access a wide range of WTO statistical indicators on
    international trade, tariffs, non-tariff measures and other indicators.

    Bulk download of trade data
    This facility allows users to download the main trade statistics datasets in their entirety in compressed csv (comma
    separated values) format

    WTO Stats Dashboard
    A data visualization tool that complements the WTO Stats Portal with graphical presentations of data on merchandise
    trade, trade in commercial services and market access.

    Tariff Download Facility
    Simpler, standardized tariff statistics, mainly for downloading

    Tariff Analysis Online
    Sophisticated detailed and interactive tariff analysis

    RTA database
    Regional trade agreements

    PTA database
    Preferential trade arrangements

    I-TIP database
    A single entry point for WTO information on trade policy measures covering both tariff and non-tariff measures
    affecting trade in goods as well as information on trade in services</p>
  <hr />
  <p align="justify">A central and user-friendly data portal to access a wide range of WTO statistical indicators on
    international trade, tariffs, non-tariff measures and other indicators.

    Bulk download of trade data
    This facility allows users to download the main trade statistics datasets in their entirety in compressed csv (comma
    separated values) format

    WTO Stats Dashboard
    A data visualization tool that complements the WTO Stats Portal with graphical presentations of data on merchandise
    trade, trade in commercial services and market access.

    Tariff Download Facility
    Simpler, standardized tariff statistics, mainly for downloading

    Tariff Analysis Online
    Sophisticated detailed and interactive tariff analysis

    RTA database
    Regional trade agreements

    PTA database
    Preferential trade arrangements

    I-TIP database
    A single entry point for WTO information on trade policy measures covering both tariff and non-tariff measures
    affecting trade in goods as well as information on trade in services</p>
  <hr />
  <dl align="justify">
    <dt><b>collapse of usa</b></dt>
    <dd>A central and user-friendly data portal to access a wide range of WTO statistical indicators on international
      trade, tariffs, non-tariff measures and other indicators.

      Bulk download of trade data
      This facility allows users to download the main trade statistics datasets in their entirety in compressed csv
      (comma separated values) format

      WTO Stats Dashboard
      A data visualization tool that complements the WTO Stats Portal with graphical presentations of data on
      merchandise trade, trade in commercial services and market access.

      Tariff Download Facility
      Simpler, standardized tariff statistics, mainly for downloading

      Tariff Analysis Online
      Sophisticated detailed and interactive tariff analysis

      RTA database
      Regional trade agreements

      PTA database
      Preferential trade arrangements

      I-TIP database
      A single entry point for WTO information on trade policy measures covering both tariff and non-tariff measures
      affecting trade in goods as well as information on trade in services</dd>
  </dl>
  <hr />
  <dl align="left">
    <dt><b>collapse of usa</b></dt>
    <dd>A central and user-friendly data portal to access a wide range of WTO statistical indicators on international
      trade, tariffs, non-tariff measures and other indicators.

      Bulk download of trade data
      This facility allows users to download the main trade statistics datasets in their entirety in compressed csv
      (comma separated values) format

      WTO Stats Dashboard
      A data visualization tool that complements the WTO Stats Portal with graphical presentations of data on
      merchandise trade, trade in commercial services and market access.

      Tariff Download Facility
      Simpler, standardized tariff statistics, mainly for downloading

      Tariff Analysis Online
      Sophisticated detailed and interactive tariff analysis

      RTA database
      Regional trade agreements

      PTA database
      Preferential trade arrangements

      I-TIP database
      A single entry point for WTO information on trade policy measures covering both tariff and non-tariff measures
      affecting trade in goods as well as information on trade in services</dd>
  </dl>
  <hr />
</body>

</html>