<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <form method="POST" action="{{url_for('otp',otp=otp,user=user,password=password,email=email)}}">
        <label for="otp">OTP</label>
        <input type="text" id="otp" name="otp" required>
    </form>
</body>
</html>